@{
    ViewData["Title"] = "Create Estimate Page";
}

@model EstimateRoadsViewModel

<h3 style="margin-bottom: 15px;">Добавить новую смету дорожных работ</h3>

<form asp-controller="Estimates" asp-action="Create" method="post">
    <table border="1">
        <tr>
            <td><label asp-for="Estimate.Name">Название сметы</label></td>
            <td><input asp-for="Estimate.Name" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Estimate.RoadId">Идентификационный номер дороги</label></td>
            <td>
                <div class="select-wrapper">
                    <select asp-for="Estimate.RoadId" class="form-control" style="overflow-y: auto;">
                        @foreach (var road in Model.Roads)
                        {
                            <option value="@road.Id">@road.Number</option>
                        }
                    </select>
                    <div class="arrow-down">&#9660;</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Estimate.LevelOfWorks">Уровень работ</label></td>
            <td><input asp-for="Estimate.LevelOfWorks" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Estimate.Cost">Стоимость сметы</label></td>
            <td><input asp-for="Estimate.Cost" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Estimate.Link">Ссылка на смету</label></td>
            <td><input asp-for="Estimate.Link" class="form-control" /></td>
        </tr>
    </table>

    <div style="margin-top: 15px;">
        <button type="submit" class="btn btn-success" onclick="replacePoints()">Добавить</button>
    </div>
</form>

<script>
    function replacePoints() {
        var levelOfWorks = document.getElementById("Estimate_LevelOfWorks");
        var cost = document.getElementById("Estimate_Cost");
        levelOfWorks.value = levelOfWorks.value.replace(/\./g, ',');
        cost.value = cost.value.replace(/\./g, ',');
        document.getElementById("myForm").submit();
    }
</script>
