@{
    ViewData["Title"] = "Create Technical Condition Of Road Page";
}

@model TechnicalConditionOfRoadRoadsViewModel

<h3 style="margin-bottom: 15px;">Добавить новое техническое состояние дороги</h3>

<form asp-controller="TechnicalConditionsOfRoads" asp-action="Create" method="post">
    <table border="1">
        <tr>
            <td><label asp-for="TechnicalConditionOfRoad.RoadId">Идентификационный номер дороги</label></td>
            <td>
                <div class="select-wrapper">
                    <select asp-for="TechnicalConditionOfRoad.RoadId" class="form-control" style="overflow-y: auto;">
                        @foreach (var road in Model.Roads)
                        {
                            <option value="@road.Id">@road.Number</option>
                        }
                    </select>
                    <div class="arrow-down">&#9660;</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label asp-for="TechnicalConditionOfRoad.Year">Год</label></td>
            <td><input asp-for="TechnicalConditionOfRoad.Year" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="TechnicalConditionOfRoad.Month">Месяц</label></td>
            <td>
                <div class="select-wrapper">
                    <select asp-for="TechnicalConditionOfRoad.Month" class="form-control" style="overflow-y: auto;">
                        @foreach (var month in Model.Months)
                        {
                            <option value="@month">@month</option>
                        }
                    </select>
                    <div class="arrow-down">&#9660;</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label asp-for="TechnicalConditionOfRoad.TechnicalCondition">Техническое состояние</label></td>
            <td><input asp-for="TechnicalConditionOfRoad.TechnicalCondition" class="form-control" /></td>
        </tr>
    </table>

    <div style="margin-top: 15px;">
        <button type="submit" class="btn btn-success" onclick="replacePoints()">Добавить</button>
    </div>
</form>

<script>
    function replacePoints() {
        var technicalCondition = document.getElementById("TechnicalConditionOfRoad_TechnicalCondition");
        technicalCondition.value = technicalCondition.value.replace(/\./g, ',');
        document.getElementById("myForm").submit();
    }
</script>
