html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Стиль для таблицы */
table {
    border: 2px solid #444;
    border-collapse: collapse;
}

/* Стиль для заголовков таблицы (th) */
th {
    border: 2px solid #444;
    background-color: #666;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Стиль для ячеек таблицы (td) */
td {
    border: 2px solid #444;
    text-align: left;
    padding: 15px;
}

/* Опциональные стили для выделения строк при наведении курсора */
tr:hover {
    background-color: #eee;
}