@{
    ViewData["Title"] = "Create Road Page";
}

@model Road

<h3 style="margin-bottom: 15px;">Добавить новую дорогу</h3>

<form asp-controller="Roads" asp-action="Create" method="post">
    <table border="1">
        <tr>
            <td><label asp-for="Number">Идентификационный номер дороги</label></td>
            <td><input asp-for="Number" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Priority">Приоритет дороги</label></td>
            <td><input asp-for="Priority" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="LinkToPassport">Ссылка на паспорт дороги</label></td>
            <td><input asp-for="LinkToPassport" class="form-control" /></td>
        </tr>
    </table>

    <div style="margin-top: 15px;">
        <button type="submit" class="btn btn-success">Добавить</button>
    </div>
</form>