@{
    ViewData["Title"] = "Delete Road Page";
}

@model Road

<h3 style="margin-bottom: 15px;">Удалить дорогу</h3>

<table border="1">
    <tr>
        <th>Идентификационный номер дороги</th>
        <th>@Model.Number</th>
    </tr>
    <tr>
        <td>Приоритет дороги</td>
        <td>@Model.Priority</td>
    </tr>
    <tr>
        <td>Ссылка на паспорт дороги</td>
        <td>@Model.LinkToPassport</td>
    </tr>
</table>

<form asp-controller="Roads" asp-action="Delete" method="post" style="margin-top: 15px;" onsubmit="return confirm('Вы уверены, что хотите удалить эту дорогу?');">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>