@{
    ViewData["Title"] = "Read Road By Id Page";
}

@model Road

<h3 style="margin-bottom: 15px;">Данные дороги</h3>

<table border="1">
    <tr>
        <th>Идентификационный номер дороги</th>
        <th>@Model.Number</th>
    </tr>
    <tr>
        <td>Приоритет дороги</td>
        <td>@Model.Priority</td>
    </tr>
    <tr>
        <td>Ссылка на паспорт дороги</td>
        <td>@Model.LinkToPassport</td>
    </tr>
</table>